<link rel="stylesheet" href="assets/css/home.css">
<script src="assets/scripts/home.js"></script>


<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Men's Health News Scraper</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
        </ul>
        <form class="navbar-form navbar-left" role="search">
            
            <button type="submit" class="btn btn-default" id="delete-comments-btn">Delete My Comments</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
            
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-warning center-block" id="scrape-btn">Click here to scrape the latest news articles</button>
            <p class="text-center">(duplicate articles will not be scraped)</p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-8" id="article-container">
            {{#each articles}}
                <div class="article-div" data-article-id="{{_id}}">
                    <h3>{{headline}}</h3>
                    <p>{{summary}}</p>
                    <a href="{{url}}" target="_blank">Click here to see the article</a>
                </div>
                <hr/>
            {{/each}}
        </div>
        <div class="col-md-4" id="comment-container">
            <div id="comments-go-here">
                
            </div>
            
            <form action="/comment" method="POST" role="form">
            
                <div class="form-group">
                    <label for="">Comment</label>
                    <textarea type="text" class="form-control" id="comment-field" name="comment"></textarea>

                    <input type="hidden" name="articleId" id="form-article-id" value="">

                    <br />
                    <button type="submit" class="btn btn-primary" id="submit-comment-btn">Submit</button>
                </div>
            
                
            
                
            </form>
            
        </div>
    </div>
</div>