<link rel="stylesheet" href="assets/css/login.css">

<div class="container">
    <div class="row">
        <div id="log-in-column" class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Register
                </div>
                <div class="panel-body">
                    
                    <form action="/register" method="POST" role="form">
                    
                        <div class="form-group">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" id="firstName-field" name="firstName">

                            <label for="">Last Name</label>
                            <input type="text" class="form-control" id="lastName-field" name="lastName">

                            <label for="">Email</label>
                            <input type="text" class="form-control" id="email-field" name="email">

                            <label for="">Password</label>
                            <input type="password" class="form-control" id="password-field" name="password">
                        </div>
                    
                        <div class="row">
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            {{!-- <div class="col-md-4">
                                <a href="/">Back to Log In</a>
                            </div> --}}
                        </div>
                    
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>